<!DOCTYPE html>
<html>
<head>
  <title>Blog Content</title>
  <meta charset="utf-8">
  <meta name="Viewport" content="width=device-wdith, initial-scale=1.0">
  <link rel="stylesheet" href="blog-content.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Limelight&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;500&display=swap" rel="stylesheet">
</head>

<body>
  <div>
    <header class="black-bar">
      <h1>My Blog</h1>
      <input id="back-home" class="button"  type="submit" value="回到首页">
	    <p id="p1">退出登录</p>
    </header>
	</div>
  
  <div class="background-box">
    <div class="title">
      <br><br><br>
      
      <h2>多地将有8-10级雷暴大风或冰雹</h2>
    </div>
    
    <div>
      <p class="date">2023年5月25日</p>
    </div>
    <br><br>
    <hr class="gradient-line">
    <br>
    <div>
      <p class="text">
      新京报讯 中央气象台5月25日10时发布强对流天气蓝色预警：<br>

      预计5月25日14时至26日14时，黑龙江西部、辽宁西部、河北中部和东北部、北京东北部和南部、天津、湖南中北部、江西北部、贵州中部、广西东部等地的部分地区将有8-10级雷暴大风或冰雹天气；内蒙古东北部、黑龙江西部、吉林西部、河北中部和东北部、北京南部、天津南部、安徽南部、湖北东南部、湖南中北部、江西东北部和南部、重庆、贵州大部、广西东部和西南部、广东中部等地的部分地区将有短时强降水天气，小时雨量20-50毫米，局地可达60毫米以上。

      预计，强对流的主要影响时段为今天午后至夜间。</p>
      
      
      <div class="blog-img">
      <img src="https://pics4.baidu.com/feed/14ce36d3d539b60027a5704b52710c26c75cb794.jpeg@f_auto?token=0449dd84ba300b18da81a357107d7e44">
      </div>
      
      <p class="text">
      防御指南：<br>
      1.政府及相关部门按照职责做好防短时暴雨、防雷、防大风准备工作，气象部门做好人工防雹作业准备；<br>

      2.户外行人和工作人员减少户外活动，注意远离棚架广告牌等搭建物；<br>

      3.驱赶家禽、牲畜进入有顶篷的场所，关好门窗加固棚舍；<br>

      4.相关水域水上作业和过往船舶采取回港规避或者绕道航行等积极应对措施，工地注意遮盖建筑物资，妥善安置易受暴雨、风雹影响的室外物品；<br>

      5.检查城市、农田、鱼塘排水系统，做好排涝准备和对山洪、滑坡、泥石流等灾害的防御准备。<br>
      </p>
    </div>
      
  </div>

</body>
</html>