body {
  background: linear-gradient(to bottom, #3E4348, #1F2124);
  margin: 0;
  padding: 0;
  background-attachment: fixed;
}

.black-bar {
  background-color: #202124;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

h1 {
  color:  #FFFFFF;
  font-family: 'Limelight', cursive;
  position: absolute;
  left: 20px;
}

h2 {
  color:  #FFFFFF;
  left: 20px;
}

#p1 {
  color: #FFFFFF;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  position: absolute;
  right: 20px;
  text-decoration: none;
}
.logout-form {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}
#p3 {
  color: #FFFFFF;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  position: absolute;
  right: 220px; 
}
label {
  color: #FFFFFF;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  display: block;
  text-align: left;
  margin-bottom: 5px;
}

#back {	
  width: 80px;
  height: 30px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #FFFFFF;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  
  
  border:0px;
  border-radius: 15px;
  background-color: #F68657;
  position: absolute;
  right: 100px;
  cursor: pointer;
}

.button {
  border:0px;
  border-radius: 15px;
  background-color: #F68657;
  color: #FFFFFF;
  width: 90px;
  height: 30px;
  cursor: pointer;
}

.background-box {
  width: 70%; 
  height: 100vh;
  margin: 0 auto; 
  border-left: 2px solid #F68657;
  border-right: 2px solid #F68657; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.text-box {
  height: 30px;
  width: 100%;

}

textarea {
  width: 100%;
}

form {
  width: 85%;
  flex-direction: column;
}
#release-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
  text-decoration: none;
  
  color: #FFFFFF;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  cursor: pointer;
  text-decoration: none;
  background-color: #F68657;
  height: 32px;
  width: 300px;
  border: none;
  color: #FFFFFF;
  font-family: 'Noto Sans SC', sans-serif;
  font-size: 14px;
  margin: 8px;
  cursor: pointer;
}

.release-button {
  display: flex;
  justify-content: center;
}
